* {
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

body {
    background-color: #0f172a;
}

li {
    list-style: none;
}

nav {
    width: 100%;
    background-color: #111827;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 10;
}

.nav {
    height: 6rem;
    display: flex;
    align-items: center;
    max-width: 1320px;
    margin: 0px auto;
    justify-content: space-between;
}

/* Style logo */
.logo {
    text-align: center;
    padding-left: 1rem;
}

.logo img {
    height: 7rem;
    width: 7rem;
}

.nav-auth {
    display: flex;
    text-transform: uppercase;
    gap: 1rem;
    padding-right: 1rem;
}

/* Styling Links */
.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #06b6b4;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}

/* Style botões */
.login-button {
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 0.5em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #111827;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 0.5em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/* Style Hamburger Icon */
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/* Animação "Hamburger" Icon Click */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.showcase {
    padding: 10rem 0rem 0rem 0rem;
    height: 50vh;
    width: 100%;
    background: linear-gradient(45deg, #0f172a, #0284c7);
}

.container-header {
    max-width: 1320px;
    display: flex;
    margin: 0px auto;
}

.cell-header {
    width: 30%;
}

.cell-header img {
    display: flex;
    width: 100%;
}

.content-header {
    margin-top: 5rem;
}

.name-header {
    font-size: 4rem;
}

.content-header-primary {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.title-header {
    font-size: 2rem;
    max-width: 70%;
    margin-bottom: 16px;
}

/* Serviços Section */
#services {
    padding: 5em 0rem;
    width: 100%;
    text-align: center;
    background-color: #111827;
}

.container-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0px auto;
    justify-content: space-between;
}

#services h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #61DAFB;
}

.services-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.service-item {
    background-color: #111827;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 145, 255, 0.896);
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item h3 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
    color: #61DAFB;
}

.service-item p {
    font-size: 1em;
    line-height: 1.5;
    color: #f2f5f7;
}


/* Fale Conosco Section */
#contact {
    padding: 5em 0;
    text-align: center;
    background-color: #0f172a;
    width: 100%;
}

.container-contact {
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
}

#contact h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

#contact form {
    max-width: 600px;
    width: 100%;
}

#contact label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1a202c;
    color: #f2f5f7;
    box-sizing: border-box;
}

#contact button {
    background-color: #0284c7;
    border: none;
    padding: 1em 2em;
    font-size: 1.1em;
    cursor: pointer;
    color: #f2f5f7;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #0369a1;
}

/* Footer */
footer {
    background-color: #111827;
    padding: 2em 0;
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    flex: 1;
    text-align: center;
}

.footer-content p {
    margin-bottom: 0.5em;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 0.5em;
}

.social-links a {
    text-decoration: none;
    color: #61DAFB;
}

.social-links a:hover {
    color: #0284c7;
}


@media screen and (max-width: 1400px) {
    .container-header {
        padding-right: 1rem;
        flex-direction: column-reverse;
    }

    .cell-header {
        width: 30%;
        position: absolute;
        bottom: 15%;
    }


    .content-header {
        margin-top: 0rem;
        display: flex;
        padding-top: 6rem;
        width: 100%;
        text-align: end;
        flex-direction: column;
    }

    .name-header {
        font-size: 4rem;
    }

    .content-header-primary {
        display: flex;
        align-items: end;
        justify-content: end;
        gap: 10px;
    }

    .title-header {
        font-size: 2rem;
        max-width: 100%;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 1180px) {
    .nav {
        font-size: 14px;
    }
}

/* Styling para telas pequenas */
@media screen and (max-width: 970px) {


    nav {
        position: fixed;
        z-index: 3;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 1rem;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #131418;
        width: 100%;
        height: 50vh;
        padding-top: 32rem;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-auth {
        position: relative;
        top: 22rem;
        right: 0;
        display: none;
        pointer-events: none;
    }

    .nav-auth.open {
        pointer-events: all;
        display: flex;
        transition: transform 0.5s ease;
    }

    .nav-links li {
        position: relative;
        top: 0;
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }

    /* header */

    .showcase {
        height: 50vh;
    }

    .cell-header {
        width: 40%;
        position: absolute;
        bottom: 15%;
    }


    .content-header {
        margin-top: 0rem;
        display: flex;
        padding-top: 2rem;
        width: 100%;
        text-align: end;
        flex-direction: column;
    }

    .name-header {
        font-size: 3.5rem;
    }

    .content-header-primary {
        display: flex;
        align-items: end;
        justify-content: end;
        gap: 10px;
    }

    .title-header {
        font-size: 1.5rem;
        max-width: 100%;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 640px) {
    .container-header {
        padding-left: 1rem;
    }
    
    .content-header {
        margin-top: 0rem;
        display: flex;
        padding-top: 6rem;
        width: 100%;
        text-align: start;
    }

    .cell-header {
        display: none;
    }

    .content-header-primary {
        font-size: 0.8rem;
        text-align: start;
        justify-content: start;
    }

    .name-header {
        font-size: 3rem;
    }

    .title-header {
        font-size: 2rem;
        max-width: 100%;
        margin-bottom: 16px;
    }
}